node_modules/
.expo/
dist/
web-build/
/ios/
/android/
attached_assets/
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.p8
!ios-creds/*.p8
*.p12
!ios-creds/*.p12
*.key
*.mobileprovision
!ios-creds/*.mobileprovision
.local/
.cache/
the-147/
static-build/
server_dist/
.config/
uploads/
/tmp/
