{
  "ios": {
    "provisioningProfilePath": "ios-creds/dist.mobileprovision",
    "distributionCertificate": {
      "path": "ios-creds/dist.p12",
      "password": "<IOS_DIST_P12_PASSWORD>"
    }
  },
  "android": {
    "keystore": {
      "keystorePath": "credentials/android/keystore.jks",
      "keystorePassword": "<ANDROID_KEYSTORE_PASSWORD>",
      "keyAlias": "<ANDROID_KEY_ALIAS>",
      "keyPassword": "<ANDROID_KEY_PASSWORD>"
    }
  }
}
